body {
    background-color: rgb(255, 255, 255);
    font-family: arial, sans-serif;
    font-size: 15px;
}

.frame {
    background-color: rgb(233, 222, 222);
    margin-top: 10%;
    margin-left: 35%;
    display: flex;
    padding: 100px;
    border-radius: 25px;
    display: inline-block;
    border-style: solid;
    border-width: thin;
    width: 100px;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.25);
    content: '';
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;
}

#display {
    background-color: rgb(212, 182, 182);
    padding: 10px;
    width: 200px;
    height: 50px;
    margin-left: -70px;
    margin-top: -30px;
    border-style: solid;
    border-color: rgb(160, 147, 147);
    border-width: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-family: "arial";
    font-size: 20px;
}

button {
    padding: 30px, 5px;
    display: inline-block;
    align-content: center;
    background-color: rgb(223, 162, 50);
    border-color: rgb(223, 162, 50);
    border-style: solid;
    border-radius: 2px;
    margin: 2px 5px;
    text-align: center;
    width: 30px;
    height: 20px;
    margin-left:25px;
}

/* id = row 2; class is "row", not including 2*/
.row {
    width: 300%;
    display: flex;
    margin-left: -52px;
}

.frame .numButtons {
    margin-top: 40%;
}

.opButtons {
    width: 300%;
    display: flex;
    margin-left: -40px;
    margin-top: 10px;
}

.opButtons button {
    padding: 50px, 5px;
    display: inline-block;
    align-content: center;
    background-color: rgb(223, 162, 50);
    border-color: rgb(223, 162, 50);
    border-style: solid;
    border-radius: 2px;
    margin: 2px 5px;
    text-align: center;
    width: 30px;
    height: 20px;
    margin-left: 2px;
}

button:hover{
  transform: scale(1.2);
}

button:active {
  transform: scale(1.0);
}